<div class="container">
    <div class="app-space">
        <app-spinner *ngIf="loading"></app-spinner>
        <app-card [active]="idControl?.value === app.id" *ngFor="let app of apps" [app]="app"
            (onClick)="appClick($event)" (onDelete)="deleteApp($event)"></app-card>
    </div>
    <app-pagination></app-pagination>
    <div class="form">
        <form (submit)="addApp()" [formGroup]="formGroup">
            <input type="hidden" formControlName="id">
            <div class="form-control">
                <label for="name">Card Name</label>
                <input formControlName="name" type="text" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="name">Version</label>
                <input formControlName="version" type="text" name="version" id="version">
            </div>
            <div class="form-control">
                <label for="name">Contact</label>
                <input formControlName="contact" type="text" name="contact" id="contact">
            </div>
            <button [disabled]="!formValid || loading" type="submit">
                {{idControl?.value ? 'Update' : 'Add'}} Card
            </button>
            <button (click)="resetForm()" type="reset">Clear Form</button>
        </form>
        <ul *ngIf="!formGroup.pristine" class="errors">
            <li *ngFor="let error of formErrors" >
                {{error}}
            </li>
        </ul>
    </div>
</div>